body {
  background-image:
  url('https://i.pinimg.com/originals/d5/14/1c/d5141c6c22f82673676d42ce61459926.png');
  background-attachment: fixed;
  text-align: center;
  font-family: Arial；

}


h1 {
  color: #000;
  font-size: 25px；
}

h2{
  color: #00FFBB;
  font-size: 21px；
}

p {
  font-size: 16px;
  color: #222020;
}

.photo{
  width: 400px;
}

.write_block {
  background: white;
  border-radius: 10px;
  margin: 20px 200px;
  padding: 20px;
}

.btn{
  background: #000;
  color: #FFF;
  padding: 5px 10px;
}

.btn:hover{
 background-color: #00FFBB;
}

